# 기자

In [1]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent)

In [2]:
from os.path import join

import pandas as pd
import numpy as np

## Load news data

In [3]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data")

In [4]:
news_df = pd.read_csv(join(data_path, "news_data_20000.csv"))

In [5]:
bylines = sorted(news_df["byline"].dropna().unique())

In [6]:
len(bylines)

4554

In [7]:
bylines[:5]

['(中）/[번역]강지혜\n[번역]강지혜',
 '(강원)강대웅·위준휘\n위준휘',
 '(경주) 최주호\n최주호',
 '(과천) 박재천\n박재천',
 '(광주)박승호\n박승호']

## 기자명 저장

In [8]:
byline_df = pd.DataFrame(columns=["이름"])

for byline in bylines:
    byline_df = pd.concat([byline_df, pd.DataFrame([{"이름": byline}])], ignore_index=True)

In [9]:
byline_df.head()

                     이름
0  (中）/[번역]강지혜\n[번역]강지혜
1      (강원)강대웅·위준휘\n위준휘
2         (경주) 최주호\n최주호
3         (과천) 박재천\n박재천
4          (광주)박승호\n박승호

In [11]:
byline_df.to_csv(join(data_path, "bylines", "bylines.csv"), index=False, encoding="utf-8-sig")