# 기자 전처리1

In [1]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent)

In [2]:
from os.path import join

import pandas as pd

## Load byline data

In [3]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data", "preprocessing")
byline_path = join(data_path, "bylines")

In [4]:
byline_df = pd.read_csv(join(byline_path, "bylines.csv"))
byline_df.head()

                     이름
0  (中）/[번역]강지혜\n[번역]강지혜
1      (강원)강대웅·위준휘\n위준휘
2         (경주) 최주호\n최주호
3         (과천) 박재천\n박재천
4          (광주)박승호\n박승호

## 이름 분류
- normal: 이름이 3글자인 경우
- abnormal: 그외

In [5]:
names = byline_df["이름"]

In [6]:
normal_names, abnormal_names = set(), set()

for name in names:
    if len(name) == 3:
        normal_names.add(name)
    else:
        abnormal_names.add(name)

In [7]:
len(normal_names), len(abnormal_names)

(2260, 2294)

In [8]:
normal_names = sorted(normal_names)
abnormal_names = sorted(abnormal_names)

In [9]:
name_df = pd.DataFrame(columns=["이름"])

for name in normal_names:
    name_df = pd.concat([name_df, pd.DataFrame([{"이름": name}])], ignore_index=True)

name_df.to_csv(join(byline_path, "names.csv"), index=False, encoding="utf-8-sig")

In [10]:
name_to_process_df = pd.DataFrame(columns=["이름"])

for name in abnormal_names:
    name_to_process_df = pd.concat([name_to_process_df, pd.DataFrame([{"이름": name}])], ignore_index=True)

name_to_process_df.to_csv(join(byline_path, "abnormal_names.csv"), index=False, encoding="utf-8-sig")

## 전처리 할 이름 분류

In [11]:
name_to_process_df.head()

                     이름
0  (中）/[번역]강지혜\n[번역]강지혜
1      (강원)강대웅·위준휘\n위준휘
2         (경주) 최주호\n최주호
3         (과천) 박재천\n박재천
4          (광주)박승호\n박승호

### Case1 - 개행이 있는 경우

In [17]:
names = abnormal_names
names_with_newline, others = [], []

for name in names:
    if len(name.splitlines()) > 1:
        names_with_newline.append(name)
    else:
        others.append(name)

len(names_with_newline), len(others)

(97, 2197)

In [16]:
names_newline_df = pd.DataFrame()
names_newline_df["이름"] = names_with_newline
names_newline_df.to_csv(join(byline_path, "names_newline.csv"), index=False, encoding="utf-8-sig")

In [18]:
others_df = pd.DataFrame()
others_df["이름"] = others
others_df.to_csv(join(byline_path, "names_others.csv"), index=False, encoding="utf-8-sig")