# 기자 전처리 2

In [1]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent)

In [8]:
from os.path import join

import pandas as pd
import numpy as np

## Load Others data

In [3]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data", "preprocessing")
byline_path = join(data_path, "bylines")

In [29]:
byline_df = pd.read_csv(join(byline_path, "names_others.csv"))
byline_df.head()

                               이름
0                               .
1                        / 이준헌 기자
2  /인천=장현일 기자 hichang@sedaily.com
3              2006022;2021005 기자
4              2016004;2020021 기자

### Case 2
ooo 기자

In [30]:
byline_df["정규화"] = np.nan

In [31]:
def iter_loop(name: str) -> tuple[bool, str]:
    name_splits = name.split(" ")
    
    if len(name_splits) == 2:
        if name_splits[1] == "기자":
            return True, name_splits[0]
        else:
            return False, name
    else:
        return False, name

In [34]:
others = []

for index, row in byline_df.iterrows():
    is_reporter, name = iter_loop(row["이름"])

    if is_reporter:
        byline_df.at[index, "정규화"] = name
    else:
        others.append(name)

len(others)

1343

In [37]:
byline_df.to_csv(join(byline_path, "names_others.csv"), index=False, encoding="utf-8-sig")

In [38]:
others_df = pd.DataFrame()
others_df["이름"] = others
others_df.to_csv(join(byline_path, "names_others1.csv"), index=False, encoding="utf-8-sig")