# Category 적재

In [1]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent.parent)

In [2]:
from os.path import join

import json

import pandas as pd

In [3]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data")
pre_path = join(data_path, "preprocessing")
bulk_path = join(data_path, "bulk")

## Load categories.csv

In [4]:
target_name = "category"
target_file_name = "categories.csv"

In [5]:
target_df = pd.read_csv(join(pre_path, target_file_name))

In [6]:
target_df.head()

  대분류   중분류
0  경제    외환
1  경제  국제경제
2  경제    무역
3  경제    유통
4  경제   자동차

In [7]:
# 대분류 - major, 중분류 - minor
target_df = target_df.rename(columns={"대분류": "major", "중분류": "minor"})

In [8]:
target_df.head()

  major minor
0    경제    외환
1    경제  국제경제
2    경제    무역
3    경제    유통
4    경제   자동차

## Bulk

In [16]:
action_str = {
    "index": {
        "_index": target_name
    }
}

action = json.dumps(action_str)

In [17]:
bulk_data = ""

for index, row in target_df.iterrows():
    row_bulk = json.dumps(row.to_dict(), ensure_ascii=False)
    bulk_data += f"{action}\n{row_bulk}\n"

In [18]:
with open(join(bulk_path, f"{target_name}.json"), "w", encoding="utf-8") as json_file:
    json_file.write(bulk_data)