# Reporter 적재

In [1]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent.parent)

In [3]:
from os.path import join

import json

import pandas as pd

In [4]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data")
pre_path = join(data_path, "preprocessing")
bulk_path = join(data_path, "bulk")

## Load reporters.csv

In [5]:
target_name = "reporter"
target_file_name = "reporters.csv"

In [6]:
target_df = pd.read_csv(join(pre_path, target_file_name))

In [7]:
target_df.head()

                이름            이름_자모
0  Hoàng Phương Ly  Hoàng Phương Ly
1              갈태웅              갈태웅
2              강갑생              강갑생
3              강경루              강경루
4              강경민              강경민

In [8]:
target_df = target_df.rename(columns={"이름": "name", "이름_자모": "nameJamo"})

In [9]:
target_df.head()

              name         nameJamo
0  Hoàng Phương Ly  Hoàng Phương Ly
1              갈태웅              갈태웅
2              강갑생              강갑생
3              강경루              강경루
4              강경민              강경민

## Bulk

In [10]:
action_str = {
    "index": {
        "_index": target_name
    }
}

action = json.dumps(action_str)

In [11]:
bulk_data = ""

for index, row in target_df.iterrows():
    row_bulk = json.dumps(row.dropna().to_dict(), ensure_ascii=False)
    bulk_data += f"{action}\n{row_bulk}\n"

In [13]:
with open(join(bulk_path, f"{target_name}.json"), "w", encoding="utf-8") as json_file:
    json_file.write(bulk_data)