In [1]:
COLUMN_NAME = "title"
I = 0
START = 0
END = 19999

# Dictionary 적재

In [2]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent.parent)

In [3]:
from os.path import join

import json
import ast
import timeit

import pandas as pd
import numpy as np
from elasticsearch import AsyncElasticsearch
from collections import Counter

In [4]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data")
raw_path = join(data_path, "raw")
pre_path = join(data_path, "preprocessing")
bulk_path = join(data_path, "bulk")

## Elasticsearch client

In [5]:
async def close(es_client: AsyncElasticsearch):
    await es_client.close()

In [6]:
es_config = {
    "hosts": "http://localhost:9200",
    "http_auth": ("elastic", "42maru"),
    "scheme": "http"
}

In [7]:
es_client = AsyncElasticsearch(**es_config)

## Load news_data_20000.csv

In [8]:
target_name = "news"
target_file_name = "news_data_20000.csv"

In [9]:
target_df = pd.read_csv(join(raw_path, target_file_name))[["title", "content"]]

In [10]:
target_df.head()

,title,content
0,"안산시, 생활임금 시급 1만500원 의결",[헤럴드경제(안산)=박정규 기자]안산시(시장 윤화섭) 생활임금위원회는 2022년 생...
1,"울산 하이본 병원, 6월부터 본격 진료 ""척추와 관절 분야 전문""",척추와 관절 분야 전문인 울산 하이본 병원이 6월부터 본격 진료를 시작했다. \n\...
2,금융권 최초 공동 정보지갑서비스 출시…1호 증명서는 '뱅크아이디',[아시아경제 송승섭 기자]금융분산ID 추진 협의회는 국내 최초 정보지갑인 마이인포에...
3,“총장 후보자 수사심의위 신청은 모순” “정치적 수단 전락”,서울 서초구 대검찰청 검찰기. 연합뉴스 “정치적 중립성을 지키고 수사 결정 전 과정...
4,[인사]현대해상,◆현대해상 ◇임원 전보 △리스크관리본부장 홍사경 △고객지원본부장 황미은 △CCO 윤...

## ddd

In [11]:
async def get_terms(query: str) -> list[str]:
    response = await es_client.indices.analyze(
        index="dictionary",
        body={
            "analyzer": "korean_mixed_analyzer",
            "text": query
        }
    )
    terms = [token["token"] for token in response["tokens"]]
    return list(Counter(terms))

In [12]:
terms = await get_terms("안산시, 생활임금 시급 1만500원 의결")

## fff

In [13]:
dictionary_df = pd.DataFrame(columns=["dictionary"])

In [14]:
partial_series = target_df.loc[START:END, COLUMN_NAME]

start = timeit.default_timer()
for index, value in partial_series.items():
    if index % 100 == 0:
        stop = timeit.default_timer()
        print(f"{index}th row, {stop - start}")
    terms = await get_terms(value)
    dictionary_df = pd.concat([dictionary_df, pd.DataFrame(data=terms, columns=["dictionary"])], ignore_index=True)

0th row, 9.366699999979744e-05
100th row, 0.3243147500000001
200th row, 0.5984092090000006
300th row, 0.852913
400th row, 1.154368625
500th row, 1.4685454170000005
600th row, 1.7187252500000003
700th row, 2.0154444170000003
800th row, 2.3091982920000005
900th row, 2.567639959
1000th row, 2.8553194590000004
1100th row, 3.1132139589999994
1200th row, 3.3805720420000007
1300th row, 3.665128834000001
1400th row, 3.980722084
1500th row, 4.383577959
1600th row, 4.659521250000001
1700th row, 4.984237542000001
1800th row, 5.283519209
1900th row, 5.649941084
2000th row, 6.035315125
2100th row, 6.398661209
2200th row, 6.738504834
2300th row, 7.163927709000001
2400th row, 7.964307584
2500th row, 8.445130875
2600th row, 8.830494584
2700th row, 9.174216334
2800th row, 9.592409625
2900th row, 9.942711917
3000th row, 10.383452417
3100th row, 10.739038584000001
3200th row, 11.078501709
3300th row, 11.435341917
3400th row, 11.803134167000001
3500th row, 12.187079250000002
3600th row, 12.517053124999999
3700th row, 12.798592334
3800th row, 13.092740042
3900th row, 13.429821417000001
4000th row, 13.764556417
4100th row, 14.062202084
4200th row, 14.368824709
4300th row, 14.666692542000002
4400th row, 14.988034375
4500th row, 15.31951425
4600th row, 15.626001666999999
4700th row, 15.948002542
4800th row, 16.304311249999998
4900th row, 16.593692834000002
5000th row, 16.890481
5100th row, 17.201106625
5200th row, 17.551594416999997
5300th row, 17.944275124999997
5400th row, 18.347426084
5500th row, 18.773456459000002
5600th row, 19.185099084
5700th row, 19.685845709
5800th row, 20.1184285
5900th row, 20.437195875
6000th row, 20.813746125
6100th row, 21.184216833999997
6200th row, 21.600225584
6300th row, 22.03116875
6400th row, 22.504232209
6500th row, 22.935382124999997
6600th row, 23.40344925
6700th row, 23.722134875000002
6800th row, 24.200291792
6900th row, 24.651264167
7000th row, 25.146262334
7100th row, 25.650823584
7200th row, 26.106865292000002
7300th row, 26.546832000000002
7400th row, 26.997559125000002
7500th row, 27.45302025
7600th row, 28.135440375
7700th row, 28.504720917
7800th row, 28.888050375
7900th row, 29.349317792
8000th row, 29.834493667000004
8100th row, 30.422182834000004
8200th row, 30.905235667
8300th row, 31.492736125
8400th row, 31.943079209000004
8500th row, 32.415973959
8600th row, 32.804860459000004
8700th row, 33.196929250000004
8800th row, 33.524374084
8900th row, 33.954174209
9000th row, 34.337646750000005
9100th row, 34.7177835
9200th row, 35.106618084000004
9300th row, 35.644645417
9400th row, 36.133365792
9500th row, 36.4960155
9600th row, 36.859529667000004
9700th row, 37.24079375
9800th row, 37.51191325
9900th row, 37.973894834
10000th row, 38.381035834
10100th row, 38.780223417
10200th row, 39.249070209
10300th row, 39.701736042
10400th row, 40.366558334000004
10500th row, 40.847679167
10600th row, 41.321552834
10700th row, 41.694742000000005
10800th row, 42.055296792
10900th row, 42.449180750000004
11000th row, 42.820330084000005
11100th row, 43.26769625
11200th row, 43.623924834
11300th row, 44.074842584
11400th row, 44.527523292000005
11500th row, 44.973106292000004
11600th row, 45.489077584
11700th row, 46.039264459
11800th row, 46.57211075
11900th row, 47.053427875000004
12000th row, 47.400906959000004
12100th row, 47.782536417
12200th row, 48.176993959
12300th row, 48.571876834
12400th row, 49.028104209
12500th row, 49.567571
12600th row, 49.98973025
12700th row, 50.582142834
12800th row, 51.23426425
12900th row, 51.717807792
13000th row, 52.217119584
13100th row, 52.759270334
13200th row, 53.308797375000005
13300th row, 53.729037000000005
13400th row, 54.001900459000005
13500th row, 54.300735959
13600th row, 54.595088917000005
13700th row, 54.937762042
13800th row, 55.3253945
13900th row, 55.674243125000004
14000th row, 56.065718792000006
14100th row, 56.408047
14200th row, 57.053156875
14300th row, 57.41789275
14400th row, 57.713755750000004
14500th row, 58.079758375000004
14600th row, 58.963714292000006
14700th row, 59.60872075
14800th row, 60.229240542
14900th row, 60.792693709000005
15000th row, 61.550109584
15100th row, 62.334316
15200th row, 62.840476417000005
15300th row, 63.25678375
15400th row, 63.672888834000005
15500th row, 64.085660292
15600th row, 64.587607875
15700th row, 65.055571792
15800th row, 65.4257675
15900th row, 65.770585584
16000th row, 66.148145959
16100th row, 66.523794917
16200th row, 66.868079542
16300th row, 67.277954209
16400th row, 67.701536667
16500th row, 68.146274792
16600th row, 68.697744167
16700th row, 69.22482037500001
16800th row, 69.837027125
16900th row, 70.54640195900001
17000th row, 71.06423062500001
17100th row, 71.55683875
17200th row, 72.022844459
17300th row, 72.546426959
17400th row, 73.000787209
17500th row, 73.468944459
17600th row, 73.863260334
17700th row, 74.320844417
17800th row, 74.745320334
17900th row, 75.33887495900001
18000th row, 75.797253334
18100th row, 76.269421209
18200th row, 76.700058625
18300th row, 77.104934834
18400th row, 77.56096562500001
18500th row, 78.006598459
18600th row, 78.545551334
18700th row, 79.039336667
18800th row, 79.647270417
18900th row, 80.188784459
19000th row, 80.815065875
19100th row, 81.347558542
19200th row, 81.939340625
19300th row, 82.63817975
19400th row, 83.190946542
19500th row, 83.662439167
19600th row, 84.142135
19700th row, 84.613752709
19800th row, 85.155334917
19900th row, 85.754051459

In [15]:
dictionary_df.head()

  dictionary
0        안산시
1         안산
2          시
3         생활
4         임금

In [16]:
dictionary_df.shape

(185667, 1)

In [21]:
dict_series = dictionary_df["dictionary"]
dict_series = dict_series.drop_duplicates(ignore_index=True)
dict_series = dict_series.sort_values(ignore_index=True)
len(dict_series)

(185667, 1)

In [25]:
new_dict_df.head()

  dictionary
0          가
1         가가
2         가감
3         가게
4         가격

In [23]:
new_dict_df = pd.DataFrame(data=dict_series, columns=["dictionary"])
new_dict_df.shape

(20430, 1)

In [28]:
new_dict_df.to_csv(join(pre_path, f"dictionary_{I}.csv"), index=False, encoding="utf-8-sig")

In [27]:
await es_client.close()