In [1]:
COLUMN_NAME = "content"
I = 1
START = (I - 1) * 20000
END = START + 19999

# Dictionary 적재

In [2]:
from pathlib import Path
import os

os.chdir(Path(os.getcwd()).parent.parent)

In [3]:
from os.path import join

import json
import ast
import timeit

import pandas as pd
import numpy as np
from elasticsearch import AsyncElasticsearch
from collections import Counter

In [4]:
root_path = os.getcwd()
data_path = join(os.getcwd(), "data")
raw_path = join(data_path, "raw")
pre_path = join(data_path, "preprocessing")
bulk_path = join(data_path, "bulk")

## Elasticsearch client

In [5]:
async def close(es_client: AsyncElasticsearch):
    await es_client.close()

In [6]:
es_config = {
    "hosts": "http://localhost:9200",
    "http_auth": ("elastic", "42maru"),
    "scheme": "http"
}

In [7]:
es_client = AsyncElasticsearch(**es_config)

## Load news_data_20000.csv

In [8]:
target_name = "news"
target_file_name = "news_data_20000.csv"

In [9]:
target_df = pd.read_csv(join(raw_path, target_file_name))[["title", "content"]]

In [10]:
target_df.head()

,title,content
0,"안산시, 생활임금 시급 1만500원 의결",[헤럴드경제(안산)=박정규 기자]안산시(시장 윤화섭) 생활임금위원회는 2022년 생...
1,"울산 하이본 병원, 6월부터 본격 진료 ""척추와 관절 분야 전문""",척추와 관절 분야 전문인 울산 하이본 병원이 6월부터 본격 진료를 시작했다. \n\...
2,금융권 최초 공동 정보지갑서비스 출시…1호 증명서는 '뱅크아이디',[아시아경제 송승섭 기자]금융분산ID 추진 협의회는 국내 최초 정보지갑인 마이인포에...
3,“총장 후보자 수사심의위 신청은 모순” “정치적 수단 전락”,서울 서초구 대검찰청 검찰기. 연합뉴스 “정치적 중립성을 지키고 수사 결정 전 과정...
4,[인사]현대해상,◆현대해상 ◇임원 전보 △리스크관리본부장 홍사경 △고객지원본부장 황미은 △CCO 윤...

## ddd

In [11]:
async def get_terms(query: str) -> list[str]:
    response = await es_client.indices.analyze(
        index="dictionary",
        body={
            "analyzer": "korean_mixed_analyzer",
            "text": query
        }
    )
    terms = [token["token"] for token in response["tokens"]]
    return list(Counter(terms))

In [12]:
terms = await get_terms("안산시, 생활임금 시급 1만500원 의결")

## fff

In [13]:
dictionary_df = pd.DataFrame(columns=["dictionary"])

In [14]:
partial_series = target_df.loc[START:END, COLUMN_NAME]

start = timeit.default_timer()
for index, value in partial_series.items():
    if index % 100 == 0:
        stop = timeit.default_timer()
        print(f"{index}th row, {stop - start}")
    terms = await get_terms(value)
    dictionary_df = pd.concat([dictionary_df, pd.DataFrame(data=terms, columns=["dictionary"])], ignore_index=True)

0th row, 8.562499999964501e-05
100th row, 0.4319714579999996
200th row, 0.9411792080000003
300th row, 1.4020822079999995
400th row, 1.9199462499999997
500th row, 2.46599275
600th row, 3.134784917
700th row, 3.6873559579999995
800th row, 4.226666583
900th row, 4.7891797920000005
1000th row, 5.40172175
1100th row, 5.920452542
1200th row, 6.433045207999999
1300th row, 7.077325875
1400th row, 7.807831332999999
1500th row, 8.403308707999999
1600th row, 8.979479583
1700th row, 9.537917292
1800th row, 10.270692541999999
1900th row, 10.85922375
2000th row, 11.49976075
2100th row, 12.146882332999999
2200th row, 12.775832792000001
2300th row, 13.463917167
2400th row, 14.133349832999999
2500th row, 14.831604042
2600th row, 15.484729958
2700th row, 16.206206792000003
2800th row, 16.935765916999998
2900th row, 17.647917874999997
3000th row, 18.311192083
3100th row, 18.964965458
3200th row, 19.636684291999998
3300th row, 20.37875925
3400th row, 21.111317375
3500th row, 21.862433333
3600th row, 22.604693958
3700th row, 23.337870208
3800th row, 24.099631541999997
3900th row, 24.869135917
4000th row, 25.610307833
4100th row, 26.488318583
4200th row, 27.282353125
4300th row, 28.163123333
4400th row, 29.02924275
4500th row, 29.850939125000004
4600th row, 30.716509125
4700th row, 31.609413833000005
4800th row, 32.522912125000005
4900th row, 33.495083167000004
5000th row, 34.426899958
5100th row, 35.438246792
5200th row, 36.348584583000004
5300th row, 37.341155458
5400th row, 38.339286
5500th row, 39.301438167
5600th row, 40.361810208
5700th row, 41.356889333000005
5800th row, 42.39424725
5900th row, 43.396932625000005
6000th row, 44.423848875000004
6100th row, 45.497187875
6200th row, 46.580235583000004
6300th row, 47.730782667
6400th row, 48.827770667
6500th row, 49.934615917
6600th row, 51.081684083
6700th row, 52.200507792
6800th row, 53.4053965
6900th row, 54.650761167
7000th row, 55.838762292
7100th row, 57.110427875
7200th row, 58.342254042
7300th row, 59.625476958
7400th row, 60.939805458
7500th row, 62.18705537500001
7600th row, 63.438911
7700th row, 64.673405875
7800th row, 65.992964667
7900th row, 67.242692333
8000th row, 68.724362417
8100th row, 70.12713124999999
8200th row, 71.479563833
8300th row, 72.81087199999999
8400th row, 74.215753708
8500th row, 75.55489329199999
8600th row, 77.049979
8700th row, 78.502025167
8800th row, 79.963439583
8900th row, 81.46821262499999
9000th row, 82.89826491699999
9100th row, 84.386288083
9200th row, 85.796730042
9300th row, 87.321804125
9400th row, 88.979969375
9500th row, 90.482715708
9600th row, 92.07692937499999
9700th row, 93.707078875
9800th row, 95.36066970799999
9900th row, 96.86093566699999
10000th row, 98.455852
10100th row, 100.098628042
10200th row, 101.81843225
10300th row, 103.366739375
10400th row, 105.06313891699999
10500th row, 106.69705512499999
10600th row, 108.36253587499999
10700th row, 110.08150925
10800th row, 111.897791208
10900th row, 113.638729375
11000th row, 115.249127625
11100th row, 117.088609042
11200th row, 118.861891875
11300th row, 120.61310558299999
11400th row, 122.438841833
11500th row, 124.299545708
11600th row, 126.19206412499999
11700th row, 128.095705458
11800th row, 129.97691225
11900th row, 131.995800667
12000th row, 134.01001654200002
12100th row, 135.930127375
12200th row, 137.906648458
12300th row, 139.868013708
12400th row, 141.84209716700002
12500th row, 143.70193225
12600th row, 145.69383825
12700th row, 147.79769891700002
12800th row, 149.838224292
12900th row, 151.82127762500002
13000th row, 153.881517083
13100th row, 155.98309625000002
13200th row, 158.145345208
13300th row, 160.23221666700002
13400th row, 162.27214145800002
13500th row, 164.30462358300002
13600th row, 166.438582542
13700th row, 168.581125542
13800th row, 170.873136167
13900th row, 172.95477241700002
14000th row, 175.117563708
14100th row, 177.369031083
14200th row, 179.599570375
14300th row, 181.9324665
14400th row, 184.05249875
14500th row, 186.362722625
14600th row, 188.62740125000002
14700th row, 190.89166825
14800th row, 193.90711575
14900th row, 196.947432875
15000th row, 200.106763083
15100th row, 202.95466158300002
15200th row, 205.607419375
15300th row, 208.230409667
15400th row, 210.73125050000002
15500th row, 213.51347620800001
15600th row, 216.42744083300002
15700th row, 219.080127083
15800th row, 221.74089262500001
15900th row, 224.75591837500002
16000th row, 228.09892083300002
16100th row, 231.22185595800002
16200th row, 234.993859875
16300th row, 238.16801808300002
16400th row, 240.989306833
16500th row, 244.001636542
16600th row, 247.162229708
16700th row, 250.12451791700002
16800th row, 253.59536162499998
16900th row, 257.203896375
17000th row, 260.034609667
17100th row, 263.5075885
17200th row, 266.414564167
17300th row, 269.398268375
17400th row, 273.07412462499997
17500th row, 276.629499792
17600th row, 279.57098404199996
17700th row, 282.48148583299997
17800th row, 286.128965042
17900th row, 289.1641585
18000th row, 292.235797292
18100th row, 295.661126917
18200th row, 299.787238
18300th row, 303.030369125
18400th row, 306.301162375
18500th row, 309.40457575
18600th row, 312.56565829199997
18700th row, 316.17260141699995
18800th row, 320.067154375
18900th row, 323.40900579199996
19000th row, 326.827915958
19100th row, 330.46340462499995
19200th row, 334.40429391699996
19300th row, 338.393421667
19400th row, 342.07172987499996
19500th row, 346.122380875
19600th row, 349.947905667
19700th row, 353.90712149999996
19800th row, 357.495343458
19900th row, 361.20855424999996

In [15]:
dictionary_df.head()

  dictionary
0        헤럴드
1         경제
2         안산
3        박정규
4         기자

In [16]:
dictionary_df.shape

(2439344, 1)

In [17]:
dict_series = dictionary_df["dictionary"]
dict_series = dict_series.drop_duplicates(ignore_index=True)
dict_series = dict_series.sort_values(ignore_index=True)
len(dict_series)

71714

In [18]:
new_dict_df = pd.DataFrame(data=dict_series, columns=["dictionary"])
new_dict_df.shape

(71714, 1)

In [19]:
new_dict_df.head()

  dictionary
0       read
1          ㄱ
2          ㄴ
3          ㄷ
4          ㄹ

In [20]:
new_dict_df.to_csv(join(pre_path, f"dictionary_{I}.csv"), index=False, encoding="utf-8-sig")

In [21]:
await es_client.close()